/* CSS Document */
  body{ background-color: #333366;
        color:#ffffff;
        margin:50px;}
        
  h1{font-family:impact,monospace;
     background-color:#cc99cc;
     margin:50px;}
  
  p {text-indent:20px;}  